* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

.div1 {
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}
.content {
    word-break: break-all;
}

@media screen and (max-width: 500px) {
    .content {
        height: 65vh;
        overflow: auto;
    }
    .wrap {
        height: 35vh;
        position: relative;
        /* border: 1px solid red; */
    }
    .div1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
